.color{
    background-color:#39393A;
    color: #F8F7F9;
}
.contrainer{
    padding-top: 20px;
}
.cowboyB {
    border-left: solid black 7px;
    border-right: black solid 7px;
    padding: 0px;
    margin-left: 10px;
}

.goals {
    padding-top: 20px;
}
.lighterBG{
    background-color: lightgray;
    padding-top: 7px;
    padding-bottom: 7px;
}
.button {
    text-align: center;
    padding-top: 5px;
}
.pad{
    padding-top: 20px;
}
.padC {
    
    margin-right: 30px ;
    color: black;
}
.headlines{
    font-weight: bold;
    font font-family: ;

}
.center{
    text-align: center;
    padding-right: 50px;
   
}
.fitpic{
    width: 240px;
    text-align: center;
    margin: auto;
    padding-right: 50px;
}